.portfolio { 
    width: 100%;  
     max-height: auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction:  column;  
    background: linear-gradient(to right, #e5edfc, #dceafd);
    text-align: center; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);   
}

.portfolio h1{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 4.5vh; 
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    flex-direction: row; 
}