.portfolio { 
    width: 100%; 
    max-height: auto;
    padding-top: 30px;
    display: flex;
    flex-direction:  column;  
    text-align: center; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);  
    background-color: rgb(229, 233, 250);  
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    flex-direction: row; 
}