
.skills{
    display: flex; 
    justify-content: center; 
    align-content: center;
    align-items:center;
    flex-direction: column;
     width: 100%;
    height: 100vh; 
    margin: 0px 6vh 0px 6vh;
}

.skills h1{
    font-family: 'Lato', sans-serif;
    font-size: 4.5vh;
    font-weight: 900;
}
.group-skills{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
     width: 80%;
}

.skills-1 { 
    width: 100%;
}
 

.progress{   
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 13px;
    width: auto; 
    box-shadow: -2px 2px 15px 6px rgba(61, 61, 61, 0.26);
}

 

.progress-content{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.progress-content h2{
    padding-top: 8px;
    margin-left: -1px;
    padding-bottom: 8px;
    font-family: 'Lato', sans-serif;
    color: rgb(18, 22, 34);
    font-size: 2.4vh; 
}