.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-content: center;
    align-items: center;
    flex-direction: row; 
    width: 100%;
    height: 100vh; 
    margin: 0px 6vh 0px 26vh;
}

.skills-1 {
    padding-left: 6vh;
    padding-right: 6vh; 
}
 

.progress{   
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 26px;
    width: 56vh; 
    box-shadow: -2px 2px 15px 6px rgba(61, 61, 61, 0.26);
}

@media only screen and (max-width: 900px) {
    .progress {
     width: 44vh;
    } 

    .skills{
        margin: 0;
    }

    
}

.progress-content{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.progress-content h2{
    padding-top: 8px;
    margin-left: -1px;
    padding-bottom: 8px;
    font-family: 'Lato', sans-serif;
    font-size: 2.4vh; 
}