.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center; 
    margin: 0.1em;
    text-justify: center;
}

.social-media a {
    font-size: 4vh;
    text-decoration: none;
    color: #278b38;
    transition: all .8s ease;
}

.social-media ul li {
    width: 6vh;
    height: 6vh;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
     background-color: #ebebeb;
    border-radius: 100%;
     transition: all .8s;
     padding: 4px;
     margin: 6px;
}

.social-media ul li:hover {
    background-color: #ebf1eb; 
    color: white;
 }

 