.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-top: 8vh;
    padding-right: 8px;
    text-justify: center;
}

.social-media a {
    text-decoration: none;
    color: #1A2947;
    transition: all .8s ease;
}

.social-media ul li {
    width: 3vh;
    height: 3vh;
    list-style: none;
    cursor: pointer;
    font-size: 2.8vh;
    background-color: rgb(231, 225, 225);
    border-radius: 100%;
    margin-left: 8px;
    padding: 8px;
    transition: all .8s;
}

.social-media ul li:hover {
    background-color: #8ba9c9; 
}

 