.about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 98vh;
}

.about .content-about {
    border-radius: 4%;
    box-shadow: 8px 5px 9px 3px rgba(189, 202, 240, 0.51);
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 60vh;
    background-color: rgb(50, 65, 112);
    color: white;
    padding: 6vh;
    margin: 4vh;
}

.about .content-about h2 {
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Fredoka One', cursive;
    color: white;
    text-align: left;
}

.about .content-about .description {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4vh;
    line-height: 1.5em;
    text-align: left;
}

.about p {
    color: white;
}

.parallax {
    background-image: url('/img/parallax.png');
    width: 100%;
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}