.navbar {
    background-color: rgba(235, 230, 230, 0.322);
    height: 17vh;
    font-family: 'Fredoka One', cursive;
    font-weight: 300;
    width: 100%;
    position: relative;
    top: 0;
    left: -350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: left .8s cubic-bezier(1, 0, 0, 1);
    padding: 14px;
    z-index: 1000;
 
}

body.dark .navbar{
    background-color: rgb(25, 28, 37);
}

body.dark .nav-list li{
    color: white;
}

.navbar-fixed {
    position: fixed;
    z-index:1000;
	top:0;
	max-width:1000px;
	width:100%;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-list li:last-of-type{
    margin-right: 0px;
}

.nav-list li{ 
    cursor: pointer;
     text-decoration: none;
    display: inline-block;
    color: rgb(39, 39, 39); 
    font-size: 2.6vh; 
    margin: 0px 20px 4px 0px;

     transition: all .1s;
    cursor: pointer;
}

 

  .nav-item::after {
    content: '';
    display: block; 
    width: 0;
    height: 4.4px;
    background: linear-gradient(rgb(20, 189, 105), rgb(74, 197, 121));
    transition: width .1s;
}
 
 .nav-item:hover::after{
     width: 100%;
     transition:  width .1s;
 }

.nav-item i{
     margin-left: 1vh;
}
 

.container {
    height: 100vh;
    background-size: cover;
    z-index: 0;
}

 
.hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 30px;
    right: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
 
@media only screen and (max-width: 1000vh) {
    .hamburger-menu {
        display: none;
    }
    .navbar {
        left: 0;
    }
}

@media only screen and (max-width: 900px) {
    .hamburger-menu {
        display: flex;
    }
    .navbar {
        left: -40vh;
        border-radius: 0 20% 20% 0;
    }
}

.change {
    left: 0;
}

.line {
    width: 100%;
    height: 3px;
    background-color: #C7792D;
    transition: all .8s;
}

.change .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2 {
    opacity: 0;
}

.change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
}

@supports (object-fit: cover) {
    .profile img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}