html {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

h1{
    color: rgb(66, 66, 66)
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 250px;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}

@media only screen and (max-width: 900px) {
    .profile {
        margin-left: 0px;
    }
    .portfolio {
        height: auto;
    }
    .form-group {
        width: 80%;
    }
    .group-skills {
        flex-wrap: wrap;
    } 
    .form{
        flex-wrap: wrap;
    }
    .form input{
        margin-right: 0;
    }
}

h2 {
    font-family: "Lato", sans-serif;
    font-size: 4vh;
}

.title {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 3.3vh;
    margin: 10px;
    color: rgb(32, 32, 32);
}
