* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(247, 247, 247);
    color: rgb(39, 39, 39); 

    overflow-x: hidden;
}

body.dark h1,  body.dark p {
    color: rgb(233, 233, 233)

}

.dark {
    background-color: rgb(19, 21, 29);
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}

@media only screen and (max-width: 900px) {
    .profile {
        margin-left: 0px;
    }
    .portfolio {
        height: auto;
    }
    .form-group {
        width: 80%;
    }
    .group-skills {
        flex-wrap: wrap;
    } 
    .form{
        flex-wrap: wrap;
    }
    .form input{
        margin-right: 0px!important;
    }
} 