  html { 
    background-color: rgb(249, 244, 253);
    overflow-x: hidden;  
}

.profile { 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-left: 250px;
    background-repeat: no-repeat; 
    scroll-behavior: smooth;
    
}

@media only screen and (max-width: 900px) {
    .profile {
    margin-left:0px;
    } 

    
}

h2{
    font-family: 'Lato', sans-serif;
    font-size: 4vh;
}
 


.title {
    
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 3.3vh;
    margin: 10px;
    color: rgb(69, 60, 88);
}
 